<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Header content -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Pick-and-Sort-Robot Controlpanel" />
    <meta name="author" content="magnusoy" />
    <title>Pick-and-Sort-Robot</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

    <!-- Cemantic core -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

    {% endblock %}
  </head>

  <body>
    <!-- Main content -->
    <div id="content">
      {% block content %}

      <button class="positive ui button">Start</button>
      <button class="ui yellow compact labeled icon button"><i class="pause icon"></i>Pause</button>
      <button class="negative ui button">Stop</button>
      <button class="red ui button">Reset</button>


      <h1>Videostream</h1>

      <img id="video" src="{{ url_for('video_viewer') }}" />

      {% endblock %}
    
    <!-- Javascripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  </body>
  {% block footer %}
  <!-- Footer content -->

    {% endblock %}
</html>
