<div class="ui ordered steps">
  <div class="ui mini step">
    <div class="content">
      <div class="title">IDLE</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">CALIBRATING</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">READY</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">MOVING TO OBJECT</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">PICKING UP OBJECT</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">MOVING TO CONTAINER</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">RELEASING OBJECT</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">COMPLETED</div>
    </div>
  </div>
  <div class="ui mini step">
    <div class="content">
      <div class="title">RESETTING</div>
    </div>
  </div>
</div>

<button class="massive positive ui button">{{ state }}</button>

