body {
  background-color: #f0f0f0 !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -100px;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 18fr 1fr;
  grid-template-areas: "header header header"
    "controls videostream objectlist"
    "footer footer footer"
}

.horizontal {
  display: flex;
  flex-direction: row;
}

#start,
#stop,
#reset,
#manual,
#calibrate {
  margin: .25rem;
}

.fields,
.space-around {
  display: flex;
  justify-content: space-around;
}

#object_list {
  grid-area: objectlist;
}

#controls {
  grid-area: controls;
  padding: 2rem;
}

#footer {
  grid-area: footer;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; */
  /* Height of the footer */
}